.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 50%;
  margin: auto;
  height: 90vh;

}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 80%;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

.message {
  margin: 5px 0;
  padding: 10px;
  max-width: fit-content;
  border-radius: 10px;
}

.message.user {
  text-align: right;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  background-color: #daf8e3;
}

.message.bot {
  text-align: left;
  background-color: #f1f0f0;
}

.input-box {
  display: flex;
  margin-top: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-box button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 10px;
}

.input-box button:hover {
  background-color: #0056b3;
}
